.grid-container {
  display: grid;
  grid-template-columns: 20vw auto 20vw;
  grid-template-rows: 5vh auto 5vh;
}

.page-header {
  grid-column: 1/2;
  grid-row: 1;
}

.page-sidebar {
  grid-column: 1;
  grid-row: 2;
}

.page-main {
  grid-column: 2;
  grid-row: 2;
}

.page-footer {
  grid-column: 1/2;
  grid-row: 3;
}
